[Desktop Entry]
Name=ffuf
Encoding=UTF-8
Exec=denios-exec "ffuf"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=03-04-web-crawlers;
Comment=A web application fuzzer in go lang
X-Denios-Package=ffuf
