[Desktop Entry]
Name=volatility - vol
Encoding=UTF-8
Exec=denios-exec "vol -h"
Icon=denios-volatility.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
Comment=Advanced memory forensics framework
X-Denios-Package=volatility3