[Desktop Entry]
Name=BashFuscator
Encoding=UTF-8
Exec=denios-exec "bashfuscator -h"
Icon=denios-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-04-av-bypass;
Comment=Making Bash one-liners or scripts much more difficult to understand
X-Denios-Package=bashfuscator
