[Desktop Entry]
Name=aireplay-ng
Comment=Inject frames
Encoding=UTF-8
Exec=menuexec "aireplay-ng --help"
Icon=denios-aircrack.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;
X-Denios-Package=aircrack-ng
