[Desktop Entry]
Name=dmitry
Comment=Gather information about a host
Encoding=UTF-8
Exec=denios-exec "dmitry"
Icon=denios-dmitry.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
X-Denios-Package=dmitry
