[Desktop Entry]
Name=maskgen
Comment=Generate hashcat masks
Encoding=UTF-8
Exec=denios-exec "maskgen -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=05-05-profile;
X-Denios-Package=pack
