[Desktop Entry]
Name=Faraday Client (GTK)
Comment=Start Faraday server and GTK client 
Encoding=UTF-8
Exec=faraday-gtk
Icon=denios-faraday.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-reporting;
X-Denios-Package=faraday-client
