[Desktop Entry]
Name=Maltego
Comment=Mining and gathering information
Encoding=UTF-8
Exec=denios-exec "maltego"
Icon=denios-maltego.png
StartupNotify=false
Terminal=false
Type=Application
Categories=01-info-gathering;01-07-osint-analysis;top10
X-Denios-Package=maltego
