[Desktop Entry]
Name=mdb-tables
Comment=Get listing of tables in an MDB database
Encoding=UTF-8
Exec=menuexec mdb-tables 
Icon=denios-mdb-sql.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-06-db-exploit;
X-Denios-Package=mdbtools
