[Desktop Entry]
Name=Meta data cleaner
Comment=Remove metadata in documentation for data products
Exec=denios-exec "man mat2"
Terminal=true
Type=Application
Version=1.0
Categories=privacy;
X-Denios-Package=mat2
Icon=xterm
