[Desktop Entry]
Name=recon-ng
Encoding=UTF-8
Exec=menuexec "recon-ng"
Icon=denios-Recon-NG.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
Comment=Web Reconnaissance framework
X-Denios-Package=recon-ng
