[Desktop Entry]
Name=volatility - volshell
Encoding=UTF-8
Exec=denios-exec "volshell -h"
Icon=denios-volatility.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
Comment=A tool for interactivate forensic analysis of memory images
X-Denios-Package=volatility3