[Desktop Entry]
Name=Keystone Engine
Comment=Commandline tool of Keystone Assembler Framework
Encoding=UTF-8
Exec=denios-exec kstool
Icon=denios-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=Development
X-Denios-Package=keystone-engine