[Desktop Entry]
Name=rz_bin — Binary program info extractor
Encoding=UTF-8
Exec=denios-exec "rz-bin -h"
Icon=denios-rizin.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-05-rizin;
Comment=Get information about ELF/PE/MZ and CLASS files
X-Denios-Package=rizin
