[Desktop Entry]
Name=msfvenom
Comment=Metasploit Payload Generator
Encoding=UTF-8
Exec=denios-exec "msfvenom -h"
Icon=denios-mpc.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-01-metasploit-framework;04-04-payload-generator;
X-Denios-Package=metasploit-framework
