[Desktop Entry]
Name=Censys
Encoding=UTF-8
Exec=denios-exec "censys -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-07-osint-analysis;
Comment=Search engine for Internet-connected devices
X-Denios-Package=python3-censys
