[Desktop Entry]
Name=weevely
Encoding=UTF-8
Exec=denios-exec "weevely"
Icon=denios-weevely.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-03-web-backdoors;top10
Comment=Weaponized web shell
X-Denios-Package=weevely
