[Desktop Entry]
Name=Powershell
Comment=Microsoft's Powershell
Encoding=UTF-8
Type=Application
Exec=pwsh
Terminal=true
Categories=Development
Icon=denios-powersploit
Categories=top10;Development
X-Denios-Package=powershell
