[Desktop Entry]
Name=pixiewps
Comment=Bruteforce offline the WPS PIN exploiting the low or non-existing entropy (pixie dust attack)
Encoding=UTF-8
Exec=menuexec "pixiewps -h"
Icon=denios-pixiewps.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-wireless-attacks;05-02-offline-attacks;
X-Denios-Package=pixiewps
