[Desktop Entry]
Name=Detect It Easy - CLI
Comment=Determining types of files, packers, file structure and more
Encoding=UTF-8
Exec=denios-exec "diec -h"
Icon=/usr/share/icons/denios-common/die/main.ico
StartupNotify=false
Terminal=true
Type=Application
Categories=07-reverseengineer;
X-Denios-Package=detect-it-easy