[Desktop Entry]
Name=veil
Encoding=UTF-8
Exec=denios-exec "veil -h"
Icon=denios-veil-catapult-evasion.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-04-av-bypass;
Comment=Generate metasploit payloads that bypass common anti-virus solutions.
X-Denios-Package=veil
