[Desktop Entry]
Name=ike-scan
Comment=Discover and fingerprint IKE hosts (IPsec VPN Servers)
Encoding=UTF-8
Exec=menuexec "ike-scan -h"
Icon=denios-ike-skan.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
X-Denios-Package=ike-scan
