[Desktop Entry]
Name=phpggc
Encoding=UTF-8
Exec=denios-exec "phpggc -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=04-04-payload-generator;
Comment=Generate payloads that exploit unsafe object deserialization
X-Denios-Package=phpggc
