[Desktop Entry]
Name=dnsmap
Comment=Subdomain brute-forcing
Encoding=UTF-8
Exec=denios-exec "dnsmap"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-01-dns-analysis;
X-Denios-Package=dnsmap
