[Desktop Entry]
Name=Dumpzilla 
Comment=Extract all forensic interesting information of Firefox, Iceweasel and Seamonkey browsers
Encoding=UTF-8
Exec=denios-exec dumpzilla
Icon=denios-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=08-02-hash-dump;
X-Denios-Package=dumpzilla