[Desktop Entry]
Name=rz-diff — unified binary diffing utility
Encoding=UTF-8
Exec=denios-exec "rz-diff -h"
Icon=denios-rizin.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-05-rizin;
Comment=Binary diffing for data and code
X-Denios-Package=rizin
