[Desktop Entry]
Name=ettercap-graphical
Comment=Network sniffing tool (GUI)
Encoding=UTF-8
Exec=menuexecg "ettercap -G"
Icon=denios-ettercap.png
StartupNotify=false
Terminal=false
Type=Application
Categories=09-sniffing-spoofing
X-Denios-Package=ettercap-graphical
