[Desktop Entry]
Name=GVM Setup
Comment=Install modules, plugins, admin password for Greenbone Vulnerability Manager (OpenVas)
Encoding=UTF-8
Exec=menuexec "gvm-setup"
Icon=denios-OpenVas.png
StartupNotify=false
Terminal=true
Type=Application
Categories=serv-11-openvas-service;02-06-openvas;
X-Denios-Package=gvm
