[Desktop Entry]
Name=rcracki_mt
Encoding=UTF-8
Exec=menuexec "rcracki_mt"
Icon=denios-rcracki_mt.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
Comment=RainbowCrack (improved, multi-threaded)
X-Denios-Package=rcracki-mt
