[Desktop Entry]
Name=PocSuite Console
Comment=POC testing framework
Encoding=UTF-8
Exec=denios-exec poc-console
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=04-exploitation-tools;
X-Denios-Package=pocsuite3
