[Desktop Entry]
Type=Application
Name=Ghidra
Exec=ghidra
Icon=denios-menu
Comment=Advanced Reverse Engineering framework
Categories=07-reverseengineer;
X-Denios-Package=ghidra
