[Desktop Entry]
Name=binwalk
Comment=Firmware Analysis Tool 
Encoding=UTF-8
Exec=denios-exec binwalk -h
Icon=denios-binwalk.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-Denios-Package=binwalk
