[Desktop Entry]
Name=rz-asm — rizin assembler and disassembler tool
Encoding=UTF-8
Exec=denios-exec "rz-asm -h"
Icon=denios-rizin.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-05-rizin;
Comment=Assemble and disassemble files or hexpair strings
X-Denios-Package=rizin
