[Desktop Entry]
Name=Stop Faraday service
Comment=Stop the Faraday Pentest reporting service
Encoding=UTF-8
Exec=servicexc faraday stop
Icon=/usr/share/icons/denios-common/faraday.png
StartupNotify=false
Terminal=false
Type=Application
Categories=serv-05-faraday
X-Denios-Package=faraday
