[Desktop Entry]
Name=Start MySQL/MariaDB
Comment=Start mariadb database service
Encoding=UTF-8
Exec=servicexc mariadb start
Icon=/usr/share/icons/denios-common/denios-mysql.png
StartupNotify=false
Terminal=false
Type=Application
Categories=serv-03-database;
X-Denios-Package=mariadb-server
